.u-button {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 16px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 600px;
  border: var(--stroke-weight-1, 1px) solid transparent;
  transition: all .3s ease;
  max-width: max-content;
  cursor: pointer;

  &__white {
    background-color: #ffffff;
    color: #425d33;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__green {
    background-color: #425d33;
    color: #ffffff;

    &:hover {
      background-color: #344a28;
    }
  }

  &__wood {
    background-color: #DA864D;
    color: #ffffff;

    &:hover {
      background-color: #b76a3b;
    }
  }
}